*.log
*.synctex.gz
*.toc
*.lop
*.loapp
*.lot
*.lof
*.bbl
Abstract_tmp
Dissertation.Rproj
.Rproj.user
cache
*concordance.tex
main.aux
chapters/haiti/sessionInfo.txt
appendices/arima2/appendixArima2.tex
chapters/mpif/ms.tex
chapters/arima2/arima2.tex
chapters/haiti/haiti.tex
MyPompDiag.R
chapters/introduction/intro.tex
chapters/mpif/mpif.tex
